language: php

php:
  - 5.3
  - 5.4
  - 5.5

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq beanstalkd
  - sudo beanstalkd -d -l 127.0.0.1 -p 11300

before_script:
  - wget -nc http://getcomposer.org/composer.phar
  - php composer.phar install --dev

script: phpunit --configuration phpunit.xml.dist
