<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd" backupGlobals="false" colors="true" processIsolation="false" stopOnFailure="false" bootstrap="tests/bootstrap.php" cacheDirectory=".phpunit.cache" backupStaticProperties="false" requireCoverageMetadata="true">
  <coverage/>
  <testsuites>
    <testsuite name="Pheanstalk Unit Tests">
      <directory>./tests/Unit</directory>
    </testsuite>
    <testsuite name="Pheanstalk Integration Tests">
      <directory>./tests/Integration</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>./src</directory>
    </include>
  </source>
</phpunit>
