---
name: Continous integration
on:
  pull_request:
    branches:
      - v4
      - v5
jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - run: ls -la /tmp/
      - uses: actions/checkout@v3
      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          tools: phpunit
      - name: Install dependencies including dev
        run: composer install
      - name: Tests
        run: composer test
      - uses: codecov/codecov-action@v3.1.1
        with:
          files: ./tests/coverage/coverage.xml
          flags: unittests
          name: codecov-umbrella
  code_style:
    name: Check code style
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          tools: symplify/easy-coding-standard
      - name: Test code style
        run: ecs
  static_analysis_src:
    name: Static analysis of source
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          tools: phpstan, psalm
      - name: Install dependencies
        run: composer install --no-dev
      - name: Static analysis (phpstan)
        run: phpstan analyse src
      - name: Static analysis (psalm)
        run: psalm src/
  static_analysis_tests:
    name: Static analysis of tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          tools: phpstan, psalm
      - name: Install dependencies including dev
        run: composer install
      - name: Static analysis of tests (psalm)
        run: psalm tests/
      - name: Static analysis of tests (phpstan)
        run: phpstan analyse tests
